<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_EmptyLayout</title>
            @Styles.Render("~/Content/css")
       @* @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div>
            <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="~/Scripts/core/jquery-1.9.1.js"></script>
<script type="text/javascript" src="~/Scripts/core/jquery-migrate-1.1.1.js"></script>
<script type="text/javascript" src="~/Scripts/core/script.js"></script>
<script type="text/javascript" lang="ja" src="~/Scripts/core/jquery.backstretch.min.js"></script>    
<script type="text/javascript" src="~/Scripts/core/slidetabs.mousewheel.easing.js"></script> 
<script type="text/javascript" src="~/Scripts/core/jquery.slidetabs.js"></script>
<script type="text/javascript" src="~/Scripts/core/slidetabs.touch.js"></script>     
<script type="text/javascript" src="~/Scripts/core/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="~/Scripts/core/jquery-ui-1.10.3.custom.js"></script>   
    </div>
</body>
</html>
